.field-cell {
  margin: 1px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s ease;
  width: 40px;
  height: 40px;
  font-size: .7rem;

  &:hover {
    background: darken(#ffffff, 5%);
  }
}

.field-cell_closed svg {
  color: orangered;
}

.field-cell_open {
  border-radius: 0;
  background: orangered;
  color: #fff;

  &:hover {
    background: orangered;
  }
}

