@mixin boxShadows($bg-color, $box-shadow-color1, $box-shadow-color2) {
  border-radius: 0;
  background: $bg-color;
  box-shadow: inset 6px 6px 14px $box-shadow-color1,
  inset -6px -6px 14px $box-shadow-color2;
}

.playground {
  min-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @include boxShadows(#ffffff, #a8a8a8, #ffffff);

  &-header {
    display: flex;
    justify-content: space-between;
    position: relative;

    .boomberman {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    .bombs-indicator, .timer {
      color: orangered;
      padding: 5px;
      @include boxShadows(#242424, #181818, #303030);

    }
  }
}
