@mixin boxShadows($bg-color, $box-shadow-color) {
  border-radius: 0;
  background: $bg-color;
  box-shadow: 0 0 19px 6px $box-shadow-color;
}

.playground {
  min-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include boxShadows(#fff, #bc412329);

  &-header {
    display: flex;
    justify-content: space-between;
    position: relative;

    .boomberman {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    .bombs-indicator, .timer {
      display: flex;
      flex-direction: column;
      color: orangered;
      padding: 5px;
      justify-content: center;
      text-align: left;
      @include boxShadows(#242424, #eaeaea);
    }
  }
}

.dialog-button {
  font-size: 10px !important;
}

.back-menu-button {
  width: fit-content;
  text-align: center;
  margin: 20px auto 0 !important;
  display: block;
  font-size: 10px !important;
}

.dialog-body {
  color: #fff !important;
}

.refresh-button, .pause-button {
  position: absolute !important;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  padding: 0 !important;
}
