.field-ceil {
  margin: 1px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s ease;
  width: 40px;
  height: 40px;
  font-size: .7rem;

  &:hover {
    background: darken(#ffffff, 5%);
  }
}

.field-ceil_closed svg {
  color: orangered;
}

.field-ceil_open {
  border-radius: 0;
  background: #242424;
  color: #fff;

  &:hover {
    background: #242424;
  }
}

