.App {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
}

/*.app-header span:nth-child(1) {*/
/*  color: orange;*/
/*}*/

.app-header span {
  color: orangered;
}

/*.app-header span:nth-child(3) {*/
/*  color: blue;*/
/*}*/

/*.app-header span:nth-child(4) {*/
/*  color: yellow;*/
/*}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
