.start-menu {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 50px;

  & > * {
    margin: 0 50px;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    margin-top: 0;
  }
}

.username-input {
  margin: 20px 0 !important
}

.start-button {
  margin-top: 20px !important;
}

.start-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 10px;
  }
}
